{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/typescript",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "@loadable/babel-plugin",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
