{
  "plugins": ["react-app"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "window": true,
    "document": true,
    "__ClientSide__": true,
    "__OCEP_ENV__": true
  }
}
